/** calendar */
.calendar {
    display: flex;
    place-content: center;
    flex-direction: column;
    padding: .5rem 0;
}
.calendar-header{
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.calendar-header button{
    color: var(--main-color);
    min-width: 3rem;
    font-weight: 700;
    aspect-ratio: 1;
    padding: 0 1rem;
    border-radius: 50%;
}
.calendar-header button:is(:hover, :focus){
    background-color: #00968894;
}
.calendar-header .selected-date {
    margin: 0 auto;
}
.calendar-table{
    border-collapse: collapse;
    text-align: center;
    
}
.calendar-table thead tr {
    background-color: #009879;
    color: #1f1f1f;
}
.calendar-table th,.calendar-table td {
    padding: .5rem 0;
}
.non-current {
    color: var(--main-color);
}
.today {
    background-color: orange;
    color: black;
    font-weight: 700;
    border-radius: 1rem;
}