.App{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.card {
    box-shadow: 0 0 20px rgba(114, 113, 113, 0.15), 
    -5px -5px 20px rgba(114, 113, 113, 0.15);
    border-radius: .5rem;
}
